[Desktop Entry]
Version=1.0
Name=GP IVR
GenericName=GP IVR
Comment=An IVR system, specifically created with helping GP call queue times in mind.  
Exec=/usr/bin/gp_ivr/UI
TryExec=/usr/bin/gp_ivr/UI
Icon=/usr/share/icons/gp_ivr_icon.png
Terminal=False
Type=Application

